# Python Basics

Name: Prashanth B

In [ ]:
#Python data types
# Text Type:	str
# Numeric Types:	int, float, complex
# Sequence Types:	list, tuple, range
# Mapping Type:	dict
# Set Types:	set, frozenset
# Boolean Type:	bool
# Binary Types:	bytes, bytearray, memoryview
# None Type:	NoneType

In [ ]:
x = 5
print(type(x))

<class 'int'>

In [ ]:
x = "Hello World"
print(type(x))

<class 'str'>

In [ ]:
x = 20
print(type(x))

<class 'int'>

In [ ]:
x = 20.5
print(type(x))

<class 'float'>

In [ ]:
x = 1j
print(type(x))

<class 'complex'>

In [ ]:
x = ["apple", "banana", "cherry"]
print(type(x))

<class 'list'>

In [ ]:
x = ("apple", "banana", "cherry")
print(type(x))

<class 'tuple'>

In [ ]:
x = range(6)
print(type(x))

<class 'range'>

In [ ]:
x = {"name" : "John", "age" : 36}
print(type(x))

<class 'dict'>

In [ ]:
x = {"apple", "banana", "cherry"}
print(type(x))

<class 'set'>

In [ ]:
x = frozenset({"apple", "banana", "cherry"})
print(type(x))

<class 'frozenset'>

In [ ]:
x = True
print(type(x))

<class 'bool'>

In [ ]:
x = b"Hello"
print(x)
print(type(x))

b'Hello'
<class 'bytes'>

In [ ]:
x = bytearray(5)
print(x)
print(type(x))

bytearray(b'\x00\x00\x00\x00\x00')
<class 'bytearray'>

In [ ]:
x = memoryview(bytes(5))
print(x)
print(type(x))

<memory at 0x0000022EC05F3E80>
<class 'memoryview'>

In [ ]:
x = None
print(type(x))

<class 'NoneType'>

In [ ]:
#if stateements
x = 0
y = 5

if x < y:                            # Truthy
    print('yes')

yes

In [ ]:
if y < x:                            # Falsy
    print('yes')

In [ ]:
# In Python, any non-zero value is considered "truthy" and evaluates to True,
# while a zero value is considered "falsy" and evaluates to False.

if x:                                # Falsy
    print('yes')

In [ ]:
if y:                                # Truthy
    print('yes')

yes

In [ ]:
if x or y:                           # Truthy
    print('yes')

yes

In [ ]:
if x and y:                          # Falsy
    print('yes')

In [ ]:
if 'aul' in 'grault':                # Truthy
    print('yes')

yes

In [ ]:
if 'quux' in ['foo', 'bar', 'baz']:  # Falsy
    print('yes')

In [ ]:
if x:
    print("If statement is true")

In [ ]:
if 'foo' in ['bar', 'baz', 'qux']:
    print('Expression was true')
    print('Executing statement in suite')
    print('...')
    print('Done.')
print('After conditional')

After conditional

In [ ]:
if 'foo' in ['foo', 'bar', 'baz']:
    print('Outer condition is true')

    if 10 > 20:
        print('Inner condition 1')

    print('Between inner conditions')

    if 10 < 20:
        print('Inner condition 2')

    print('End of outer condition')
print('After outer condition')

Outer condition is true
Between inner conditions
Inner condition 2
End of outer condition
After outer condition

In [ ]:
x = 20

if x < 50:
    print('(first suite)')
    print('x is small')
else:
    print('(second suite)')
    print('x is large')

(first suite)
x is small

In [ ]:
x = 120

if x < 50:
    print('(first suite)')
    print('x is small')
else:
    print('(second suite)')
    print('x is large')

(second suite)
x is large

In [ ]:
name = 'Joe'
if name == 'Fred':
    print('Hello Fred')
elif name == 'Xander':
    print('Hello Xander')
elif name == 'Joe':
    print('Hello Joe')
elif name == 'Arnold':
    print('Hello Arnold')
else:
    print("I don't know who you are!")

Hello Joe

In [ ]:
names = {
    'Fred': 'Hello Fred',
    'Xander': 'Hello Xander',
    'Joe': 'Hello Joe',
    'Arnold': 'Hello Arnold'
}

In [ ]:
names.get('Joe')

'Hello Joe'

In [ ]:
print(names.get('Joe', "I don't know who you are!"))
print(names.get('Rick', "I don't know who you are!"))

Hello Joe
I don't know who you are!

In [ ]:
raining = False
print("Let's go to the", 'Beach' if not raining else 'Library')

Let's go to the Beach

In [ ]:
raining = True
print("Let's go to the", 'Beach' if not raining else 'Library')

Let's go to the Library

In [ ]:
age = 19
s = 'minor' if age <= 18 else 'adult'
s

'adult'

In [ ]:
'yes' if ('qux' in ['foo', 'bar', 'baz']) else 'no'

'no'

In [ ]:
x = y = 40
z = (1 + x) if x > y else (y + 2)
z

42

In [ ]:
x = y = 40
z = 1 + (x if x > y else y) + 2
z

43

In [ ]:
#for loops
primes = [2, 3, 5, 7]
for prime in primes:
    print(prime)

2
3
5
7

In [ ]:
for x in range(5):
    print(x)

0
1
2
3
4

In [ ]:
for x in range(3, 6):
    print(x)

3
4
5

In [ ]:
for x in range(3, 8, 2):
    print(x)

3
5
7

In [ ]:
#while loops
count = 0
while count < 5:
    count += 1  # This is the same as count = count + 1
    print(count)

1
2
3
4
5

In [ ]:
count = 0
while True:
    count += 1
    print(count)
    if count >=5:
        break

1
2
3
4
5

In [ ]:
for x in range(10):
    if x % 2 == 0:
        continue
    print(x)

1
3
5
7
9

In [ ]:
count=0
while(count<5):
    print(count)
    count +=1
else:
    print("count value reached %d" %(count))

0
1
2
3
4
count value reached 5

In [ ]:
for i in range(1, 10):
    if(i%5==0):
        break
    print(i)
else:
    print("this is not printed because for loop is \
          terminated because of break but not due to fail in condition")

1
2
3
4

In [ ]:
# 1. Decide the number of rows and columns
# There is a typical structure to print any pattern,
# i.e., the number of rows and columns. We need to use two loops to print any pattern,
# i.e., use nested loops.

# 2. The outer loop tells us the number of rows, and the inner loop tells
# us the column needed to print the pattern.

# 3. Accept the number of rows from a user using the input() function to
# decide the size of a pattern.

# 4. Iterate rows
# Next, write an outer loop to Iterate the number of rows using a for loop and range() function.

# 5. Iterate columns
# Next, write the inner loop or nested loop to handle the number of columns.
# The internal loop iteration depends on the values of the outer loop.

# 6. Print star or number
# Use the print() function in each iteration of nested for loop
# to display the symbol or number of a pattern (like a star (asterisk *) or number).

# 7. Add new line after each iteration of outer loop
# Add a new line using the print() function after each iteration of the
# outer loop so that the pattern display appropriately

In [ ]:
# 1
# 2 2
# 3 3 3
# 4 4 4 4
# 5 5 5 5 5

In [ ]:
for i in range(6): #rows
    for j in range(i): #cols
        print(i, end=' ')
    print('')

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [ ]:
# 1
# 1 2
# 1 2 3
# 1 2 3 4
# 1 2 3 4 5

In [ ]:
for i in range(1, 6):
    for j in range(1, i + 1):
        print(j, end=' ')
    print('')

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
# 1
# 3 3
# 5 5 5
# 7 7 7 7
# 9 9 9 9 9

In [ ]:
i = 1
while i <= 5:
    j = 1
    while j <= i:
        print((i * 2 - 1), end=" ")
        j = j + 1
    i = i + 1
    print('')

1
3 3
5 5 5
7 7 7 7
9 9 9 9 9

In [ ]:
# 1
# 2 1
# 3 2 1
# 4 3 2 1
# 5 4 3 2 1

In [ ]:
for i in range(1, 6):
    for j in range(i, 0, -1):
        print(j, end=' ')
    print("")

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [ ]:
# 1
# 3 2
# 6 5 4
# 10 9 8 7

In [ ]:
start = 1
stop = 2
current_num = stop
for row in range(2, 6):
    for col in range(start, stop):
        current_num -= 1
        print(current_num, end=' ')
    print("")
    start = stop
    stop += row
    current_num = stop

1
3 2
6 5 4
10 9 8 7

In [ ]:
# 1
# 1 1
# 1 2 1
# 1 3 3 1
# 1 4 6 4 1
# 1 5 10 10 5 1
# 1 6 15 20 15 6 1

In [ ]:
def print_pascal_triangle(size):
    for i in range(0, size):
        for j in range(0, i + 1):
            print(decide_number(i, j), end=" ")
        print()


def decide_number(n, k):
    num = 1
    if k > n - k:
        k = n - k
    for i in range(0, k):
        num = num * (n - i)
        num = num // (i + 1)
    return num

# set rows
rows = 7
print_pascal_triangle(rows)

1
1 1
1 2 1
1 3 3 1
1 4 6 4 1
1 5 10 10 5 1
1 6 15 20 15 6 1

In [ ]:
# 1
# 2  4
# 3  6  9
# 4  8  12  16
# 5  10  15  20  25
# 6  12  18  24  30  36
# 7  14  21  28  35  42  49
# 8  16  24  32  40  48  56  64

In [ ]:
rows = 8
# rows = int(input("Enter the number of rows "))
for i in range(1, rows + 1):
    for j in range(1, i + 1):
        # multiplication current column and row
        square = i * j
        print(i * j, end='  ')
    print()

1
2  4
3  6  9
4  8  12  16
5  10  15  20  25
6  12  18  24  30  36
7  14  21  28  35  42  49
8  16  24  32  40  48  56  64

In [ ]:
# *
# * *
# * * *
# * * * *
# * * * * *

In [ ]:
for i in range(0, 5):
    for j in range(0, i + 1):
        print("*", end=' ')
    print("")

*
* *
* * *
* * * *
* * * * *

In [ ]:
#Alternative solution
rows = 5
for j in range(1, rows+1):
    print("* " * j)

*
* *
* * *
* * * *
* * * * *

In [ ]:
# V
# V V
# V V V
# V V V V
# V V V V V

In [ ]:
# Same character pattern
character = 'V'
# convert char to ASCII
char_ascii_no = ord(character)
for i in range(0, 5):
    for j in range(0, i + 1):
        # Convert the ASCII value to the character
        user_char = chr(char_ascii_no)
        print(user_char, end=' ')
    print()

V
V V
V V V
V V V V
V V V V V

In [ ]:
# 1
# 2 4
# 3 6 9
# 4 8 12 16
# 5 10 15 20 25
# 6 12 18 24 30 36
# 7 14 21 28 35 42 49
# 8 16 24 32 40 48 56 64
# 9 18 27 36 45 54 63 72 81
# 10 20 30 40 50 60 70 80 90 100

In [ ]:
# Pyramid of horizontal tables of numbers
rows = 10
for i in range(1, rows + 1):
    for j in range(1, i + 1):
        print(i * j, end=' ')
    print()

1
2 4
3 6 9
4 8 12 16
5 10 15 20 25
6 12 18 24 30 36
7 14 21 28 35 42 49
8 16 24 32 40 48 56 64
9 18 27 36 45 54 63 72 81
10 20 30 40 50 60 70 80 90 100

In [ ]:
#    1
#    1    2    1
#    1    2    4    2    1
#    1    2    4    8    4    2    1
#    1    2    4    8   16    8    4    2    1
#    1    2    4    8   16   32   16    8    4    2    1
#    1    2    4    8   16   32   64   32   16    8    4    2    1
#    1    2    4    8   16   32   64  128   64   32   16    8    4    2    1

In [ ]:
rows = 9
for i in range(1, rows):
    for i in range(0, i, 1):
        print(format(2 ** i, "4d"), end=' ')
    for i in range(-1 + i, -1, -1):
        print(format(2 ** i, "4d"), end=' ')
    print("")

   1
   1    2    1
   1    2    4    2    1
   1    2    4    8    4    2    1
   1    2    4    8   16    8    4    2    1
   1    2    4    8   16   32   16    8    4    2    1
   1    2    4    8   16   32   64   32   16    8    4    2    1
   1    2    4    8   16   32   64  128   64   32   16    8    4    2    1

In [ ]:
# 1
# 2 3 4
# 5 6 7 8 9

In [ ]:
current_num = 1
stop = 2
rows = 3

for i in range(rows):
    for column in range(1, stop):
        print(current_num, end=' ')
        current_num += 1
    print("")
    stop += 2

1
2 3 4
5 6 7 8 9

In [ ]:
# 1
# 2 3
# 4 5 6
# 7 8 9 10

In [ ]:
current_num = 1
rows = 4
stop = 2
for i in range(rows):
    for column in range(1, stop):
        print(current_num, end=' ')
        current_num += 1
    print("")
    stop += 1

1
2 3
4 5 6
7 8 9 10

In [ ]:
# A
# B C
# D E F
# G H I J
# K L M N O
# P Q R S T U
# V W X Y Z [ \

In [ ]:
# ASCII number of 'A'
ascii_number = 65
rows = 7
for i in range(0, rows):
    for j in range(0, i + 1):
        character = chr(ascii_number)
        print(character, end=' ')
        ascii_number += 1
    print(" ")

A
B C
D E F
G H I J
K L M N O
P Q R S T U
V W X Y Z [ \

In [ ]:
# P
# Py
# Pyt
# Pyth
# Pytho
# Python

In [ ]:
word = "Python"
x = ""
for i in word:
    x += i
    print(x)

P
Py
Pyt
Pyth
Pytho
Python

In [ ]:
# 1 1 1 1 1
# 2 2 2 2
# 3 3 3
# 4 4
# 5

In [ ]:
rows = 5
b = 0

# reverse for loop from 5 to 0
for i in range(rows, 0, -1):
    b = b + 1
    for j in range(1, i + 1):
        print(b, end=' ')
    print('')

1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

In [ ]:
# 5 5 5 5 5
# 5 5 5 5
# 5 5 5
# 5 5
# 5

In [ ]:
rows = 5
for i in range(rows, 0 , -1):
    b = 5
    for j in range(1, i + 1):
        print(b, end = ' ')
    print('')

5 5 5 5 5
5 5 5 5
5 5 5
5 5
5

In [ ]:
rows = 5
num = rows
for i in range(rows, 0, -1):
    for j in range(0, i):
        print(num, end = ' ')
    print('')

5 5 5 5 5
5 5 5 5
5 5 5
5 5
5

In [ ]:
# 0 1 2 3 4 5
# 0 1 2 3 4
# 0 1 2 3
# 0 1 2
# 0 1

In [ ]:
rows = 5
for i in range(rows, 0, -1):
    for j in range(0, i + 1):
        print(j, end=' ')
    print("\r")

0 1 2 3 4 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1

In [ ]:
# 5 5 5 5 5
# 4 4 4 4
# 3 3 3
# 2 2
# 1

In [ ]:
rows = 5
for i in range(rows, 0, -1):
    num = i
    for j in range(0, i):
        print(num, end=' ')
    print("")

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [ ]:
# 5 4 3 2 1
# 4 3 2 1
# 3 2 1
# 2 1
# 1

In [ ]:
rows = 5
for i in range(0, rows + 1):
    for j in range(rows - i, 0, -1):
        print(j, end=' ')
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [ ]:
# * * * * *
# * * * *
# * * *
# * *
# *

In [ ]:
rows = 5
for i in range(rows + 1, 0, -1):
    # nested reverse loop
    for j in range(0, i - 1):
        # display star
        print("*", end=' ')
    print(" ")

* * * * *
* * * *
* * *
* *
*

In [ ]:
#           1
#         1 2
#       1 2 3
#     1 2 3 4
#   1 2 3 4 5

In [ ]:
rows = 6
for i in range(1, rows):
    num = 1
    for j in range(rows, 0, -1):
        if j > i:
            print(" ", end=' ')
        else:
            print(num, end=' ')
            num += 1
    print("")

          1
        1 2
      1 2 3
    1 2 3 4
  1 2 3 4 5

In [ ]:
for i in range(6, 0, -1):
    for j in range(6, 0, -1):
        if j > i:
            print(' ', end = " ")
        else:
            print(i + 1, end = ' ')
    print('')

7 7 7 7 7 7
  6 6 6 6 6
    5 5 5 5
      4 4 4
        3 3
          2

In [ ]:
#         *
#       * *
#     * * *
#   * * * *
# * * * * *

In [ ]:
rows = 5
k = 2 * rows - 2
for i in range(0, rows):
    # process each column
    for j in range(0, k):
        # print space in pyramid
        print(end=" ")
    k = k - 2
    for j in range(0, i + 1):
        # display star
        print("* ", end="")
    print("")

        *
      * *
    * * *
  * * * *
* * * * *

In [ ]:
# 1 2 3 4 5
# 2 2 3 4 5
# 3 3 3 4 5
# 4 4 4 4 5
# 5 5 5 5 5

In [ ]:
rows = 5
for i in range(1, rows + 1):
    for j in range(1, rows + 1):
        if j <= i:
            print(i, end=' ')
        else:
            print(j, end=' ')
    print()

1 2 3 4 5
2 2 3 4 5
3 3 3 4 5
4 4 4 4 5
5 5 5 5 5

In [ ]:
#         * * * * * *
#          * * * * *
#           * * * *
#            * * *
#             * *
#              *

In [ ]:
rows = 5
k = 2 * rows - 2
for i in range(rows, -1, -1):
    for j in range(k, 0, -1):
        print(end=" ")
    k = k + 1
    for j in range(0, i + 1):
        print("*", end=" ")
    print("")

        * * * * * *
         * * * * *
          * * * *
           * * *
            * *
             *

In [ ]:
#             *
#            *  *
#           *  *  *
#          *  *  *  *
#         *  *  *  *  *
#        *  *  *  *  *  *
#       *  *  *  *  *  *  *

In [ ]:
print("Print equilateral triangle Pyramid using asterisk symbol ")
# printing full Triangle pyramid using stars
size = 7
m = (2 * size) - 2
for i in range(0, size):
    for j in range(0, m):
        print(end=" ")
    # decrementing m after each loop
    m = m - 1
    for j in range(0, i + 1):
        print("* ", end=' ')
    print(" ")

Print equilateral triangle Pyramid using asterisk symbol
            *
           *  *
          *  *  *
         *  *  *  *
        *  *  *  *  *
       *  *  *  *  *  *
      *  *  *  *  *  *  *

In [ ]:
# *
# * *
# * * *
# * * * *
# * * * * *
# * * * * * *

# * * * * * *
# * * * * *
# * * * *
# * * *
# * *
# *

In [ ]:
rows = 6
for i in range(0, rows):
    for j in range(0, i + 1):
        print("*", end=' ')
    print(" ")

print(" ")

for i in range(rows + 1, 0, -1):
    for j in range(0, i - 1):
        print("*", end=' ')
    print(" ")

*
* *
* * *
* * * *
* * * * *
* * * * * *

* * * * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
# *
# * *
# * * *
# * * * *
# * * * * *
# * * * *
# * * *
# * *
# *

In [ ]:
rows = 5
for i in range(0, rows):
    for j in range(0, i + 1):
        print("*", end=' ')
    print("\r")

for i in range(rows, 0, -1):
    for j in range(0, i - 1):
        print("*", end=' ')
    print("\r")

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
#         *
#       * *
#     * * *
#   * * * *
# * * * * *
#   * * * *
#     * * *
#       * *
#         *

In [ ]:
rows = 5
i = 1
while i <= rows:
    j = i
    while j < rows:
        # display space
        print(' ', end=' ')
        j += 1
    k = 1
    while k <= i:
        print('*', end=' ')
        k += 1
    print()
    i += 1

i = rows
while i >= 1:
    j = i
    while j <= rows:
        print(' ', end=' ')
        j += 1
    k = 1
    while k < i:
        print('*', end=' ')
        k += 1
    print('')
    i -= 1

        *
      * *
    * * *
  * * * *
* * * * *
  * * * *
    * * *
      * *
        *

In [ ]:
# * * * * *
#  * * * *
#   * * *
#    * *
#     *
#     *
#    * *
#   * * *
#  * * * *
# * * * * *

In [ ]:
rows = 5
i = 0
while i <= rows - 1:
    j = 0
    while j < i:
        # display space
        print('', end=' ')
        j += 1
    k = i
    while k <= rows - 1:
        print('*', end=' ')
        k += 1
    print()
    i += 1

i = rows - 1
while i >= 0:
    j = 0
    while j < i:
        print('', end=' ')
        j += 1
    k = i
    while k <= rows - 1:
        print('*', end=' ')
        k += 1
    print('')
    i -= 1

* * * * *
 * * * *
  * * *
   * *
    *
    *
   * *
  * * *
 * * * *
* * * * *

In [ ]:
#         *
#        * *
#       * * *
#      * * * *
#     * * * * *
#    * * * * * *
#     * * * * *
#      * * * *
#       * * *
#        * *
#         *

In [ ]:
rows = 5
k = 2 * rows - 2
for i in range(0, rows):
    for j in range(0, k):
        print(end=" ")
    k = k - 1
    for j in range(0, i + 1):
        print("* ", end="")
    print("")

k = rows - 2

for i in range(rows, -1, -1):
    for j in range(k, 0, -1):
        print(end=" ")
    k = k + 1
    for j in range(0, i + 1):
        print("* ", end="")
    print("")

        *
       * *
      * * *
     * * * *
    * * * * *
   * * * * * *
    * * * * *
     * * * *
      * * *
       * *
        *

In [ ]:
#             A
#            B C
#           D E F
#          G H I J
#         K L M N O
#        P Q R S T U
#       V W X Y Z [ \

In [ ]:
print("Print equilateral triangle Pyramid with characters ")
size = 7
asciiNumber = 65
m = (2 * size) - 2
for i in range(0, size):
    for j in range(0, m):
        print(end=" ")
    m = m - 1
    for j in range(0, i + 1):
        character = chr(asciiNumber)
        print(character, end=' ')
        asciiNumber += 1
    print(" ")

Print equilateral triangle Pyramid with characters
            A
           B C
          D E F
         G H I J
        K L M N O
       P Q R S T U
      V W X Y Z [ \

In [ ]:
f = open("demofile.txt", 'r')

In [ ]:
print(f.read())

Hi this is demo file
just created to view in Python

In [ ]:
f.close() #good practice to close it always

In [ ]:
#lambda function

# A lambda function is a small anonymous function, it can take
# any number of arguments, but can only have one expression.

In [ ]:
x = lambda a: a + 5

In [ ]:
print(x(2))

7

In [ ]:
x = lambda a, b : (a * b)

In [ ]:
print(x(3, 5))

15

In [ ]:
def myfn(x):
    return lambda y : y * x

In [ ]:
z = myfn(10)
z(2)

20

In [ ]:
#map function

# map function returns a list as output

numbers1 = [1, 2, 3]
numbers2 = [4, 5, 6]

result = map(lambda x, y: x + y, numbers1, numbers2)
print(list(result))

[5, 7, 9]

In [ ]:
m = ['sat', 'bat', 'cat', 'mat']
list(map(list, m))

[['s', 'a', 't'], ['b', 'a', 't'], ['c', 'a', 't'], ['m', 'a', 't']]

In [ ]:
#syntax -> map(function, iterables)

In [ ]:
#zip function

integers = [1, 2, 3]
letters = ['a', 'b', 'c']
floats = [4.0, 5.0, 6.0]

zipped = zip(integers, letters, floats)

print(type(zipped))
print(list(zipped))

<class 'zip'>
[(1, 'a', 4.0), (2, 'b', 5.0), (3, 'c', 6.0)]

In [ ]:
letters = ['a', 'b', 'c']
numbers = [0, 1, 2]
for i, j in zip(letters, numbers):
    print(f'Letter: {i}, Number: {j}')

Letter: a, Number: 0
Letter: b, Number: 1
Letter: c, Number: 2

In [ ]:
dict = {'Name': 'Prashanth', 'Age': 27, 'Role': 'ML Engineer'}
for i, j in dict.items():
    print(i, ":", j)

Name : Prashanth
Age : 27
Role : ML Engineer

In [ ]:
#unzipping

pairs = [(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')]
numbers, letters = zip(*pairs)

In [ ]:
numbers

(1, 2, 3, 4)

In [ ]:
letters

('a', 'b', 'c', 'd')

In [ ]:
total_sales = [52000.00, 51000.00, 48000.00]
prod_cost = [46800.00, 45900.00, 43200.00]

for sales, costs in zip(total_sales, prod_cost):
    profit = sales - costs
    print(f'Total profit: {profit}')

Total profit: 5200.0
Total profit: 5100.0
Total profit: 4800.0

In [ ]:
fields = ['name', 'last_name', 'age', 'job']
values = ['John', 'Doe', '45', 'Python Developer']

a_dict = list(zip(fields, values))
a_dict

[('name', 'John'),
 ('last_name', 'Doe'),
 ('age', '45'),
 ('job', 'Python Developer')]

Thank you